/* Assume light mode by default */
/* @import '/node_modules/flexlayout-react/style/light.css' screen; */
/* Supersede dark mode when applicable */
/* @import '/node_modules/flexlayout-react/style/dark.css' screen and
  (prefers-color-scheme: dark); */

/* ------START----- Andy Bell's modern CSS reset -----START------ */
/* ----- https://github.com/Andy-set-studio/modern-css-reset ----- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------END------- Andy Bell's modern CSS reset -------END------ */

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --_header-height: 64px;

  --_primary-accent-light: hsl(209, 100%, 55%);
  --_primary-accent-dark: hsl(209, 81%, 48%);
  --_primary-accent: var(--_primary-accent-light);

  --_text-light: hsl(210 10% 30%);
  --_text-dark: hsl(210 5% 95%);
  --_text: var(--_text-light);

  --_section-border-color-light: hsl(210deg 14% 89%);
  --_section-border-color-dark: hsl(210deg 9% 31%);
  --_section-border-color: var(--_section-border-color-light);

  --_sidebar-background-color-light: hsl(220deg 15.79% 96.27%);
  --_sidebar-background-color-dark: hsl(210deg 9% 31%);
  --_sidebar-background-color: var(--_sidebar-background-color-light);

  --color-primary-1: #e6f7ff;
  --color-primary-2: #bae7ff;
  --color-primary-3: #91d5ff;
  --color-primary-4: #69c0ff;
  --color-primary-5: #40a9ff;
  --color-primary-6: #1890ff;
  --color-primary-7: #096dd9;
  --color-primary-8: #0050b3;
  --color-primary-9: #003a8c;
  --color-primary-10: #002766;

  --color-neutral-1: #ffffff;
  --color-neutral-2: #fafafa;
  --color-neutral-3: #f5f5f5;
  --color-neutral-4: #f0f0f0;
  --color-neutral-5: #d9d9d9;
  --color-neutral-6: #bfbfbf;
  --color-neutral-7: #8c8c8c;
  --color-neutral-8: #595959;
  --color-neutral-9: #434343;
  --color-neutral-10: #262626;
  --color-neutral-11: #1f1f1f;
  --color-neutral-12: #141414;
  --color-neutral-13: #000000;

  --color-red-1: #fff1f0;
  --color-red-2: #ffccc7;
  --color-red-3: #ffa39e;
  --color-red-4: #ff7875;
  --color-red-5: #ff4d4f;
  --color-red-6: #f5222d;
  --color-red-7: #cf1322;
  --color-red-8: #a8071a;
  --color-red-9: #820014;
  --color-red-10: #5c0011;

  --color-gold-1: #fffbe6;
  --color-gold-2: #fff1b8;
  --color-gold-3: #ffe58f;
  --color-gold-4: #ffd666;
  --color-gold-5: #ffc53d;
  --color-gold-6: #faad14;
  --color-gold-7: #d48806;
  --color-gold-8: #ad6800;
  --color-gold-9: #874d00;
  --color-gold-10: #613400;

  --color-green-1: #f6ffed;
  --color-green-2: #d9f7be;
  --color-green-3: #b7eb8f;
  --color-green-4: #95de64;
  --color-green-5: #73d13d;
  --color-green-6: #52c41a;
  --color-green-7: #389e0d;
  --color-green-8: #237804;
  --color-green-9: #135200;
  --color-green-10: #092b00;

  --color-title: rgba(0, 0, 0, 0.85);
  --color-primary-text: rgba(0, 0, 0, 0.65);
  --color-secondary-text: rgba(0, 0, 0, 0.45);
  --color-disable: rgba(0, 0, 0, 0.25);
  --color-border: rgba(0, 0, 0, 0.15);
  --color-divider: rgba(0, 0, 0, 0.06);
  --color-font-background: rgba(0, 0, 0, 0.04);
  --color-table-header: rgba(0, 0, 0, 0.02);
}

body.dark {
  --_primary-accent: var(--_primary-accent-dark);
  --_text: var(--_text-dark);
  --_section-border-color: var(--_section-border-color-dark);
  --_sidebar-background-color: var(--_sidebar-background-color-dark);

  --color-primary-1: #111d2c;
  --color-primary-2: #112a45;
  --color-primary-3: #15395b;
  --color-primary-4: #164c7e;
  --color-primary-5: #1765ad;
  --color-primary-6: #177ddc;
  --color-primary-7: #3c9ae8;
  --color-primary-8: #65b7f3;
  --color-primary-9: #8dcff8;
  --color-primary-10: #b7e3fa;

  --color-neutral-1: #000000;
  --color-neutral-2: #141414;
  --color-neutral-3: #1f1f1f;
  --color-neutral-4: #262626;
  --color-neutral-5: #434343;
  --color-neutral-6: #595959;
  --color-neutral-7: #8c8c8c;
  --color-neutral-8: #bfbfbf;
  --color-neutral-9: #d9d9d9;
  --color-neutral-10: #f0f0f0;
  --color-neutral-11: #f5f5f5;
  --color-neutral-12: #fafafa;
  --color-neutral-13: #ffffff;

  --color-red-1: #2a1215;
  --color-red-2: #431418;
  --color-red-3: #58181c;
  --color-red-4: #791a1f;
  --color-red-5: #a61d24;
  --color-red-6: #d32029;
  --color-red-7: #e84749;
  --color-red-8: #f37370;
  --color-red-9: #f89f9a;
  --color-red-10: #fac8c3;

  --color-gold-1: #2b2111;
  --color-gold-2: #443111;
  --color-gold-3: #594214;
  --color-gold-4: #7c5914;
  --color-gold-5: #aa7714;
  --color-gold-6: #d89614;
  --color-gold-7: #e8b339;
  --color-gold-8: #f3cc62;
  --color-gold-9: #f8df8b;
  --color-gold-10: #faedb5;

  --color-green-1: #162312;
  --color-green-2: #1d3712;
  --color-green-3: #274916;
  --color-green-4: #306317;
  --color-green-5: #3c8618;
  --color-green-6: #49aa19;
  --color-green-7: #6abe39;
  --color-green-8: #8fd460;
  --color-green-9: #b2e58b;
  --color-green-10: #d5f2bb;

  --color-title: rgba(255, 255, 255, 0.85);
  --color-primary-text: rgba(255, 255, 255, 0.65);
  --color-secondary-text: rgba(255, 255, 255, 0.45);
  --color-disable: rgba(255, 255, 255, 0.3);
  --color-border: rgba(255, 255, 255, 0.2);
  --color-divider: rgba(255, 255, 255, 0.12);
  --color-font-background: rgba(255, 255, 255, 0.08);
  --color-table-header: rgba(255, 255, 255, 0.04);
}

body {
  background-color: var(--color-neutral-1);
}

/* ---------------------- Utility Classes ---------------------- */

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------------------- HEADER ---------------------- */

header {
  --_bg-header-light: hsl(210deg 16% 93%);
  --_bg-header-dark: hsl(210deg 10% 23%);
  --_bg-header: var(--_bg-header-light);

  display: flex;
  align-items: center;
  gap: 1.5ch;
  background-color: var(--_bg-header);
  color: var(--_text);
  height: var(--_header-height);
  border-bottom: 1px solid var(--_section-border-color);
  padding: 0.5rem 1rem 0.5rem 2rem;
}

body.dark header {
  --_bg-header: var(--_bg-header-dark);
}

/* Primary Logo */
svg[data-logo] {
  color: var(--_primary-accent);
  width: 40px;
  height: 40px;
}

/* ---------------------- BUTTONS ---------------------- */

:where(
    button,
    input[type='button'],
    input[type='submit'],
    input[type='reset'],
    input[type='file']
  ):not(.flexlayout-container *),
:where(input[type='file'])::file-selector-button {
  --_accent-light: hsl(210 100% 40%);
  --_accent-dark: hsl(210 50% 70%);
  --_accent: var(--_accent-light);

  --_bg-light: hsl(0 0% 100%);
  --_bg-dark: hsl(210 9% 31%);
  --_bg: var(--_bg-light);

  --_input-well-light: hsl(210 16% 87%);
  --_input-well-dark: hsl(204 10% 10%);
  --_input-well: var(--_input-well-light);

  --_padding-inline: 1.25ch;
  --_padding-block: 0.5ch;

  --_border-radius: 0.5ch;
  --_border-light: hsl(210 14% 89%);
  --_border-dark: var(--_bg-dark);
  --_border: var(--_border-light);

  --_highlight-size: 0;
  --_highlight-light: hsl(210 10% 71% / 25%);
  --_highlight-dark: hsl(210 10% 5% / 25%);
  --_highlight: var(--_highlight-light);

  --_ink-shadow-light: 0 1px 0 var(--_border-light);
  --_ink-shadow-dark: 0 1px 0 hsl(210 11% 15%);
  --_ink-shadow: var(--_ink-shadow-light);

  --_icon-size: 2ch;
  --_icon-color: var(--_accent);

  --_shadow-color-light: 220 3% 15%;
  --_shadow-color-dark: 220 40% 2%;
  --_shadow-color: var(--_shadow-color-light);
  --_shadow-strength-light: 1%;
  --_shadow-strength-dark: 25%;
  --_shadow-strength: var(--_shadow-strength-light);
  --_shadow-1: 0 1px 2px -1px hsl(var(--_shadow-color) /
        calc(var(--_shadow-strength) + 9%));
  --_shadow-2: 0 3px 5px -2px hsl(var(--_shadow-color) /
          calc(var(--_shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--_shadow-color) /
          calc(var(--_shadow-strength) + 5%));

  --_shadow-depth-light: 0 1px var(--_border-light);
  --_shadow-depth-dark: 0 1px var(--_bg-dark);
  --_shadow-depth: var(--_shadow-depth-light);

  --_transition-motion-reduce: ;
  --_transition-motion-ok: box-shadow 145ms ease, outline-offset 145ms ease;
  --_transition: var(--_transition-motion-ok);

  font: inherit;
  letter-spacing: inherit;
  line-height: 1.5;
  border-radius: var(--_border-radius);
}

body.dark
  :where(
    button,
    input[type='button'],
    input[type='submit'],
    input[type='reset'],
    input[type='file']
  ):not(.flexlayout-container *),
:where(input[type='file'])::file-selector-button {
  --_bg: var(--_bg-dark);
  --_text: var(--_text-dark);
  --_border: var(--_border-dark);
  --_accent: var(--_accent-dark);
  --_highlight: var(--_highlight-dark);
  --_input-well: var(--_input-well-dark);
  --_ink-shadow: var(--_ink-shadow-dark);
  --_shadow-depth: var(--_shadow-depth-dark);
  --_shadow-color: var(--_shadow-color-dark);
  --_shadow-strength: var(--_shadow-strength-dark);
}

:where(
    button,
    input[type='button'],
    input[type='submit'],
    input[type='reset']
  ):not(.flexlayout-container *),
:where(input[type='file'])::file-selector-button {
  cursor: pointer;
  touch-action: manipulation;

  /* will be 1rem unless --_size is overwritten */
  font-size: var(--_size, 1rem);
  background: var(--_bg);
  color: var(--_text);
  border: 2px solid var(--_border);
  box-shadow: var(--_shadow-2), var(--_shadow-depth),
    0 0 0 var(--_highlight-size) var(--_highlight);
  text-shadow: var(--_ink-shadow);
  transition: var(--_transition);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5ch;

  font-weight: 700;
  padding-block: var(--_padding-block);
  padding-inline: var(--_padding-inline);

  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* icon button */
:where(button, input):not(.flexlayout-container):has(svg:only-child):not(
    .flexlayout-container *
  ) {
  padding: 0.5ch;
}

/* icons */
:where(
    button,
    input[type='button'],
    input[type='submit'],
    input[type='reset'],

  ):not(.flexlayout-container *)
  > :where(svg, [data-icon]) {
  block-size: var(--_icon-size);
  inline-size: var(--_icon-size);
  stroke: var(--_icon-color);
  filter: drop-shadow(var(--_ink-shadow));
  vertical-align: middle;
  flex-shrink: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* focus */
:where(button, input):not(.flexlayout-container *):where(
    :not(:active)
  ):focus-visible {
  outline-offset: 5px;
}

/* pressing */
:where(
    button,
    input[type='button'],
    input[type='submit'],
    input[type='reset']
  ):not(.flexlayout-container *):where(:not(:active):hover) {
  --_highlight-size: 0.2rem;
}

/* disabled */
:where(
    button,
    input[type='button'],
    input[type='submit'],
    input[type='reset']
  ):not(.flexlayout-container *)[disabled] {
  --_bg: none;
  --_text-light: hsl(210 7% 40%);
  --_text-dark: hsl(210 11% 71%);

  cursor: not-allowed;
  box-shadow: var(--_shadow-1);
}

/* adaptive indigo text */
:where([type='submit'], form button:not([type], [disabled])):not(
    .flexlayout-container *
  ) {
  --_text: var(--_accent);
}

/* red reset */
:where([type='reset']):not(.flexlayout-container *) {
  --_border-light: hsl(0 100% 83%);
  --_highlight-light: hsl(0 100% 89% / 20%);
  --_text-light: hsl(0 80% 50%);
  --_text-dark: hsl(0 100% 89%);
}

:where([type='reset']):focus-visible:not(.flexlayout-container *) {
  outline-color: currentColor;
}

/* file input */
:where(input[type='file']):not(.flexlayout-container *) {
  inline-size: 100%;
  max-inline-size: max-content;
  background-color: var(--_input-well);
}

:where(input[type='button']):not(.flexlayout-container *),
:where(input[type='file'])::file-selector-button {
  appearance: none;
}

:where(input[type='file'])::file-selector-button {
  margin-inline-end: var(--_padding-inline);
}

/* special dark theme styles */
body.dark
  :where(
    [type='submit'],
    [type='reset'],
    [disabled],
    form button:not([type='button'])
  ):not(.flexlayout-container *) {
  --_bg: var(--_input-well);
}

/* custom button classes */

.btn-large {
  --_size: 1.2rem;
}
